@import './base.css';

#app {
  font-family:'Roboto', sans-serif;
  max-width: 100%;
  /* margin: 0 auto;*/
  /* padding: 2rem; */


  font-weight: normal;
}

.content {
  max-width: 100%;
  height: auto;
  margin: 0 auto;
  font-weight: normal;
}

/* style bor */

.badge {
  height: 35px; 
  width: auto;
}


.jbtron {
  height: 43vh;
  background: linear-gradient(#FFFFFF, #D3F5F7 );
}

p {
  font-size: 12px;
}

/* .card-body {
  width: 35vw; 
  height: 15vh;
} */

main {
  /* padding: 3vw; */
}

a,
.green {
  text-decoration: none;
  color: hsla(160, 100%, 37%, 1);
  transition: 0.4s;
}

.card-title {
  font-size: 16px;
  line-height: 24px;
  font-weight: 500;
}

.card-text {
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
}

.card-text-2 {
  font-size: 18px;
  line-height: 24px;
  font-weight: 600;
}

.card-cat-title-2 {
  font-size: 14px;
  line-height: 24px;
  font-weight: 500;
}

.p-secondstyle {
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  color: #8F95B2;
}

.spilled {
  color: white;
  background-color: #25cbd6!important;
}

.btn-default-konsult {
  color: white;
  background: #25cbd6;
}

@media (hover: hover) {
  a:hover {
    background-color: hsla(160, 100%, 37%, 0.2);
  }
}

@media (max-width: 767px) {
  .card {
    position: static; /* Mengubah posisi menjadi statis */
    /* width: 90%; */
    margin: 0 auto; /* Pusatkan elemen horizontal */
  }


}

@media (min-width: 1024px) {
  body {
  } 
  #app {
    background: #f4f6fa;

  } 

  
/* 
  .card-body {
    width: 45vw; 
    height: 15vh;
  } */

  .content {
    place-items: center;
  }
}
